{% load static %}

{% block body %}

<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
        overflow: hidden;
    }

    .message-container {
        margin-bottom: 20px;
    }

    .animation-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
    }

    canvas {
        display: block;
    }

    h1 {
        color: #333;
        font-size: 36px;
    }


    p {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .button-container {
        margin-top: 10px;
    }

    .back-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        text-decoration: none;
    }
</style>

<div class="animation-container">
    <canvas id="background-animation"></canvas>
</div>

<div class="message-container">
    <h1>You have been logged out.</h1>
    <p>Thank you for using our service. Have a great day!</p>
</div>

<div class="button-container">
    <a href="{% url 'food:index' %}" class="back-button">Back to Home</a>
</div>

<script src="{% static 'food/background_animation.js' %}"></script>

{% endblock %}
