{% extends 'food/base.html'%}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Register
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="POST" class="needs-validation">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {{ field.errors|join:", " }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <p>Already have an account <a href="{% url 'login' %}">Click Here</a> for login.</p>
                        <button class="btn btn-info" type="submit">SignUp</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}